<form [formGroup]="characterForm">
	<mat-card class="shipping-card">
		<mat-card-header>
		  <mat-card-title>{{formTitle}}</mat-card-title>
		</mat-card-header>
		<mat-card-content>
		  <div class="row">
			<div class="col">
			  <mat-form-field class="full-width">
				<input matInput placeholder="Name" formControlName="name">
				<mat-error>
					Name is <strong>required</strong>
				  </mat-error>
			  </mat-form-field>
			</div>
		  </div>
		  <div class="row">
			<div class="col">
			  <mat-form-field class="full-width">
				<input matInput placeholder="Url of the image" formControlName="image" type="url">
				<mat-error>
				  Image is <strong>required</strong>
				</mat-error>
			  </mat-form-field>
			</div>
			<div class="col">
				<label>Alignment: </label>
				<mat-radio-group formControlName="alignment">
					<mat-radio-button value="good">Good</mat-radio-button>
					<mat-radio-button value="evil">Evil</mat-radio-button>
				</mat-radio-group>
			</div>
		  </div>
		  <div class="row">
			<div class="col">
			  <mat-form-field class="full-width">
				<input matInput placeholder="Height (centimeters)" formControlName="height" type="number">
				<mat-error>
				  Height is <strong>required</strong>
				</mat-error>
			  </mat-form-field>
			</div>
		  </div>
		  <div class="row">
			<div class="col">
				<label>Game: </label>
				<mat-radio-group formControlName="game">
					<mat-radio-button value="VII">VII</mat-radio-button>
					<mat-radio-button value="X">X</mat-radio-button>
					<mat-radio-button value="XV">XV</mat-radio-button>
				</mat-radio-group>
			</div>
		  </div>
		  <div class="row">
			<div class="col">
			  <mat-form-field class="full-width">
				<input matInput placeholder="Weapon" formControlName="weapon">
				<mat-error>
				  Weapon is <strong>required</strong>
				</mat-error>
			  </mat-form-field>
			</div>
		  </div>
		  <div class="row">
			<div class="col">
			  <mat-form-field class="full-width">
				<textarea matInput placeholder="A small recap about the character" formControlName="recap"></textarea>
				<mat-error>
				  Recap is <strong>required</strong>
				</mat-error>
			  </mat-form-field>
			</div>
		  </div>
		  <div class="row">
			<div class="col">
			  <mat-form-field class="full-width">
				<textarea matInput placeholder="Info about the character" formControlName="info"></textarea>
				<mat-error>
				  Info is <strong>required</strong>
				</mat-error>
			  </mat-form-field>
			</div>
		  </div>
		</mat-card-content>
		<mat-card-actions class="form-button">
		<div>
		  <button mat-raised-button type="submit" (click) ="createCharacter()" *ngIf="!editing">Save</button>
		  <button mat-raised-button type="submit" (click) ="editCharacter()" *ngIf="editing">Edit</button>
		</div>
		</mat-card-actions>
	  </mat-card>
</form>
