.content-control{
    display: flex;
    flex-direction: row;
}

.image-control{
    background-image: url('https://cdna.artstation.com/p/assets/images/images/029/033/018/4k/scott-brox-atma-full-01-v009.jpg?1596242372');
    width: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 12px;
}

.card-grid{
    width: 60%;
   
}

.monster-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 12px;
    background: radial-gradient(circle, #fabada, #FFFFFF);
    cursor: pointer;
}
.header-image{
    text-align: center;
    margin-left: 2em;
}
footer{
    text-align: center;
}
.button-post{
    margin-top: 1em;
    width:50%;
    text-align: center;
}