<section>
    <header>
    <h2>Formulario de alta</h2>
        </header>
        
    <form [formGroup]="formGroup">
       
        <mat-form-field>
      <p>
            <mat-label>E-mail</mat-label>
            <input type="text" name="email" matInput formControlName="email" placeholder="ex. ab@ab.com"/>
        </p>
        </mat-form-field>
        <mat-form-field>
            <p>
            <mat-label>Password</mat-label>
            <input type="password" name="password" matInput formControlName="password"></p>
        </mat-form-field>
    <div class="error-control" *ngIf="error">{{error}}</div>
        <button type="button" name="envio" mat-raised-button color="primary" (click)="handleAuth()" [disabled]="formGroup.invalid">{{logText}}</button>
        <button type="button" mat-stroked-button color="accent" name="switchMode" (click)="switchMode()">{{switchText}}</button>
    </form>
    </section>