.div-selector {
  display: flex;
  margin-right: 1.25rem;
  margin-top: 1.25rem;
  flex-wrap: wrap;
  justify-content: end;
}

.main-image {
  flex-grow: 1;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 33%;
}
.main-image img {
  width: 100%;
}
.cards-container {
  flex-grow: 3;
  display: flex;
  width: 50%;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.card-title {
  text-align: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.magic-card {
  max-width: 25rem;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

mat-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 3rem;
}

mat-grid-tile {
  background-color: rgb(99, 196, 228);
}
