section{
    text-align: center;
}

button{
    margin: 0 2em;
}

#go-back{
    margin: 2em 0;
}

#post-put-form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-control, .table-control{
    width: 50%;
    margin: auto;
}



.error-control{
    color: crimson;
}

.submit-control{
    padding: 1em;
    border: 1px solid green;
    color: green;
    font-size:large;
    font-weight:bold;
    
}