<mat-grid-list cols="2" rowHeight="1:1" class="grid">
  <section *ngIf="individualMagic$ | async as magic">
    <h1>{{magic.name}}</h1>
    <mat-grid-tile>
      <div class="img-container">
        <img src="{{magic.image}}" alt="Photo of Final Fantasy magic">
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="table">
        <table class="mat-elevation-z8">
          <tr *ngFor="let item of columnsToShow | keyvalue">
            <th class="th">{{ item.value }}</th>
            <td class="td">{{magic[item.key] }}</td>
          </tr>
        </table>
      </div>
    </mat-grid-tile>
  </section>
</mat-grid-list>