<button mat-raised-button routerLink="/magic">Back to magic list</button>
<mat-grid-list cols="2" rowHeight="1:1" class="grid">
  <section *ngIf="individualMagic$ | async as magic">
    <h1 appTranslate>{{magic.name}}</h1>
    <mat-grid-tile>
      <div class="img-container">
        <img appMagic src="{{magic.image}}" alt="Photo of Final Fantasy magic">
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="table">
        <table class="mat-elevation-z8">
          <tr *ngFor="let item of columnsToShow | keyvalue">
            <th class="th">{{ item.value }}</th>
            <td *ngIf="item.key !== 'damage' " class="td">{{magic[item.key] }}</td>
            <td *ngIf="item.key === 'damage' " class="td damage">{{ magic | calculateDamage }}</td>
          </tr>
        </table>
      </div>
    </mat-grid-tile>
  </section>
</mat-grid-list>