<section>
		<div>
			<img src="https://i.imgur.com/JGvn73S.png" alt="Photo of several characters from Final Fantasy">
				<p>
				The Final Fantasy Wiki is a comprehensive database focusing on the Final Fantasy game series of Japanese role-playing games developed and published by Square Enix. It is dedicated to collecting all information related to the franchise, such as the storyline, gameplay, characters, creatures, locations, and more!
				Warning: this wiki contains unmarked spoilers.
				</p>
			<h2>Did you know...?</h2>
			<ul>
				<li>…Final Fantasy III is the first Final Fantasy game with Summon magic?</li>
				<li>…Squall and Rinoa appear in a technical demo for the PlayStation 2 where they re-enact the waltz scene from Final Fantasy VIII to showcase the console's graphical capability?</li>
				<li>…Occult Fan is a serial magazine in Final Fantasy VIII that studies the paranormal?</li>
				<li>…the Masamune appears in every main Final Fantasy title except Final Fantasy XIII?</li>
			</ul>
		</div>
</section>