<section>
  <header>
    <h1>About Us</h1>
    <span>Here you can know a bit more about the people behind this wiki.</span>
  </header>
  <mat-grid-list cols="3" rowHeight="500px">
    <mat-grid-tile>
      <mat-card class="about-us-card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Andrea</mat-card-title>
          <mat-card-subtitle>Frontend Dev</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://i.imgur.com/ek9FLzn.png" alt="Photo of a Guinea Pig">
        <mat-card-content>
          <p>
            Backender turned into Frontender who is just trying to do her best at this whole new thing.
            Not really into Final Fantasy. A bit obsessed with guinea pigs.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="about-us-card center">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Flavia</mat-card-title>
          <mat-card-subtitle>Frontend Dev</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="flavia-img" src="https://i.imgur.com/4ylmNvs.jpg" alt="Photo of a IA">
        <mat-card-content>
          <p>
            Immigrant in a country and in the world of development, trying to put down roots, to give the best and not
            to fall into existential crisis. Addicted to memes.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="about-us-card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Juan I.</mat-card-title>
          <mat-card-subtitle>Frontend Dev</mat-card-subtitle>
        </mat-card-header>
        <img class="handsome" mat-card-xl-image
          src="http://www.therobinsonlibrary.com/history/africa/uganda/graphics/idiamin.jpg"
          alt="Photo of our valued member">
        <mat-card-content>
          <p>
            A drowning man desperatedly trying to hold onto a piece of driftwood in a churning ocean of javascript and
            css. Likes long walks on the beach.
            Picture unrelated.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</section>