<section>
	<header>
		<h1>About Us</h1>
		<span>Here you can know a bit more about the people behind this wiki.</span>
	</header>
	<mat-grid-list cols="3" rowHeight="500px">
		<mat-grid-tile> 
			  <mat-card class="about-us-card">
				<mat-card-header>
				  <div mat-card-avatar class="header-image"></div>
				  <mat-card-title>Andrea</mat-card-title>
				  <mat-card-subtitle>Frontend Dev</mat-card-subtitle>
				</mat-card-header>
				<img mat-card-image src="https://i.imgur.com/ek9FLzn.png" alt="Photo of a Guinea Pig">
				<mat-card-content>
				  <p>
					Backender turned into Frontender who is just trying to do her best at this whole new thing.
					Not really into Final Fantasy. A bit obsessed with guinea pigs.
				  </p>
				</mat-card-content>
			  </mat-card>
		</mat-grid-tile>
		<mat-grid-tile>
			<mat-card class="about-us-card">
				<mat-card-header>
				  <div mat-card-avatar class="header-image"></div>
				  <mat-card-title>Flavia</mat-card-title>
				  <mat-card-subtitle>Frontend Dev</mat-card-subtitle>
				</mat-card-header>
				<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
				<mat-card-content>
				  <p>
					The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
					A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
					bred for hunting.
				  </p>
				</mat-card-content>
			  </mat-card>
		</mat-grid-tile>
		<mat-grid-tile>
			<mat-card class="about-us-card">
				<mat-card-header>
				  <div mat-card-avatar class="header-image"></div>
				  <mat-card-title>Juan</mat-card-title>
				  <mat-card-subtitle>Frontend Dev</mat-card-subtitle>
				</mat-card-header>
				<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
				<mat-card-content>
				  <p>
					The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
					A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
					bred for hunting.
				  </p>
				</mat-card-content>
			  </mat-card>
		</mat-grid-tile>
	</mat-grid-list>
</section>