<div>
	<div>
		<div class="div-selector">
			<mat-form-field class="selector-game">
				<select #game matNativeControl (change)="onSelected(game.value)" required>
					<option value="VII" default>Final Fantasy VII</option>
					<option value="X">Final Fantasy X</option>
					<option value="XV">Final Fantasy XV</option>
				</select>
			</mat-form-field>
		</div>
		<div class="admin-button" *ngIf="loggedIn">
			<button mat-raised-button (click)="openModifyList()">Modify character list</button>
		</div>
	</div>
	<main class="main-content">
		<figure class="main-image">
			<img src="{{mainImage}}">
		</figure>
		<div class="div-cards" *ngIf="characterObservable$ | async as characters">
			<mat-card class="character-card" *ngFor="let char of characters" (click) = "showCharacter(char.id)">
				<mat-card-title>{{char.name}}</mat-card-title>
				<mat-card-subtitle>{{char.game}}</mat-card-subtitle>
				<img mat-card-image src="{{char.image}}" alt="Photo of a FF character">
				<mat-card-content>
					<p>
						{{char.recap}}
					</p>
				</mat-card-content>
			</mat-card>	
		</div>
	</main>
</div>